<h1>商品購入一覧</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
    <p><%= item.name %> : 
       <%= item.price %> : 
       <%= item.user.nickname.present? ? "購入者 #{item.user.nickname}" : "会員No.#{item.user.id}" %>
       <%= link_to "削除", item_path(item), method: :delete %>
    </p>
  <% end %>
<% else %>
  <p>ログインして下さい</p>
<% end %>